.places__card_content_articles {
	list-style-type: none;
	padding: 0;
}

@media screen and (min-width: 1280px) {
	.places__card_content_articles {
		min-width: 484px;
	}
}

@media screen and (min-width: 768px) {
	.places__card_content_articles {
		min-width: 352px;
	}
}

@media screen and (max-width: 768px) {
	.places__card_content_articles {
		margin-left: 16px;
	}
}