.intro {
	max-width: 690px;
	display: block;
	align-self: start;
	padding-left: calc((100% - 984px) / 2);
}

@media screen and (max-width: 1024px) {
	.intro {
		padding-left: calc((100% - 928px) / 2);
	}
}

@media screen and (max-width: 980px) {
	.intro {
		max-width: 100%;
		padding: 0 24px;
		max-width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.intro {
		padding: 0 16px;
		max-width: 100%;
	}
}