.intro {
	max-width: 690px;
	padding-right: 294px;
}

@media screen and (max-width: 1024px) {
	.intro {
		padding-right: 238px;
	}
}

@media screen and (max-width: 1000px) {
	.intro {
		padding-right: 0;
		max-width: 80%;
	}
}