.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-width: calc(100% - 96px);
}

@media screen and (max-width: 1000px) {
	.footer {
		min-width: calc(100% - 48px);
	}
}

@media screen and (max-width: 720px) {
	.footer {
		min-width: calc(100% - 32px);
		flex-direction: column;
	}
}

/* кажется я и тут неправильно понял, в макете видел отступы 48, 24 и 16 пикселей, на них и оринтировался. Всё еще не понял в чём ошибка*/