.header__item {
	text-decoration: none;
	font-size: 24px;
	line-height: 28px;
	color: #fff;
	margin: 0 18px 0 0;
}

.header__item:hover {
	text-decoration-line: underline;
}

.header__item:nth-last-child(1) {
	margin-right: 0;
}

@media screen and (max-width: 360px) {
	.header__item {
		font-size: 18px;
		line-height: 24px;
	}
}